.menu-bar {
    position: fixed;
    width: 100%;
    padding: 15px 0px 0 55px;
    height: 76px;
}
.menu-bar:hover{
    background-color: #000;
}
.logo-image {
    width: 12%;
}
.logo-image img {
    width: 84%;
    height: 45px;
}
.table-menu {
    width: 54%;
}
.table-menu ul {
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
}
.table-menu li {
    display: block;
    padding: 9px 0 0 20px;
    margin: 0px;
}
.table-menu a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.offer-button {
    width: 33%;
    padding: 8px 0;
    font-weight: 600;
}
.entry-tab {
    width: 45%;
}
.entry-tab a {
    text-decoration: none;
    color: #fff;
}
.entry-button {
    width: 55%;
}
.entry-button a {
    color: #fff;
    text-decoration: none;
    background-color: #bb0a12;
    padding: 11px 40px 13px 40px;
}
.gloaming{
    
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/background.jpg);
}
.contant {
    position: relative;
    width: 100%;
}
.normal-text {
    color: #fff;
    position: absolute;
    top: 141px;
    width: 100%;
    text-align: center;
}
.normal-text h4 {
    letter-spacing: 3px;
}
.normal-text p {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 2.2;
    font-weight: 100;
    padding-bottom: 12px;
}
.normal-text a {
    text-decoration: none;
    background-color: #d8d8d8;
    padding: 15px 59px;
    color: #000;
    font-weight: 500;
    text-transform: uppercase;
}
.normal-text a:hover{
    background-color: #000;
    color: #fff;
}
.monster{
    background-color: #000;
    position:relative;
}
.shows {
    padding: 20px 0 0 15px;
}
.shows h1 {
    color: #fff;
    font-size: 66px;
    font-weight: 200;
    text-transform: uppercase;
}
.shows-text {
    width: 100%;
    margin-bottom: -10px;
}
.md2 {
    width: 50%;
}
.md2 p {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
    cursor: pointer;
}
.md3 {
    width: 50%;
    text-align: end;
    padding-right: 10px;
}
.md3 a {
    text-decoration: none;
    color: #b5b5b5;
}
button.owl-prev {
    width: 49px;
    border-radius: 0px;
    height: 43px;
    position: absolute;
    top: 20%;
    left: -1%;
}
button.owl-prev i {
    font-size: 35px;
    padding: 5px 14px;
    background-color: #7f7f7f;
    border-radius: 26px;
}
button.owl-next {
    width: 49px;
    border-radius: -1px;
    height: 43px;
    position: absolute;
    top: 20%;
    right: 0%;
}
button.owl-next i {
    font-size: 35px;
    padding: 5px 14px;
    background-color: #7f7f7f;
    border-radius: 26px;
}
.owl-dots {
    display: none;
}
.valley img {
    width: 100%;
}
.valley img:hover{
    transform: scale(1.1);
}
.valley-text h4 {
    font-size: 21px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px;
}
.valley-text p {
    font-size: 13px;
    color: #909090;
}
.special {
    padding: 77px 0px;
}
.thriller {
    position: relative;
    padding-left: 74px;
}
.classic img {
    width: 183px;
}
.second-image {
    position: absolute;
    left: 263px;
}
.second-image img {
    width: 181px;
    height: 519px;
}
.series {
    position: relative;
}
.series-text {
    position: absolute;
    top: 139px;
    left: 16%;
}
.series-text h4 {
    font-weight: bold;
}

.series-text p {
    letter-spacing: 1px;
    font-size: 20px;
    color: #1b1b1b;
    margin-bottom: 35px;
}
.series-text a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 15px 57px;
    font-weight: 700;
}
.count-image {
    background-color: #000;
    padding: 56px 0;
}
.starz {
    text-align: end;
    position: relative;
}
.m50 {
    position: absolute;
    top: 1px;
    right: 1px;
}
.m50 img {
    width: 537px;
}
.footer {
    background-color: #131313;
    height: 450px;
}
.cd24 {
    position: relative;
}
.af10 {
    position: absolute;
    top: 50px;
}
.af10 h2{   color: #fff;
    font-size: 14px;
    margin-bottom: 14px;
}
.af10 ul {
    padding: 0px;
}
.af10 li {
    display: block;
}
.af10 a {
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #b5b5b5;
    letter-spacing: .5px;
}
.af10 span {
    color: #fff;
}
.af11 ul {
    padding: 0px;
}
.af11 {
    position: absolute;
    top:86px;
}
.af11 li {
    display: block;
}
.af11 a {
    text-decoration: none;
    font-size: 12px;
    line-height: 28px;
    color: #b5b5b5;
    letter-spacing: .5px;
}
.af11 a:hover{
    color: #fff;
}
.af11 span {
    color: #fff;
}
.tags {
    padding: 21px 0px;
}
.mt5 {
    padding: 0 6px;
}
.tags i {
    padding: 10px 12px;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
}
